@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top:25px;min-height:400px;">
    <div class="row">
        <div class="col-lg-9">
            @RenderBody()
        </div>
        <div class="col-lg-3">

            <div class="sidebar">






            </div><!-- End sidebar -->

        </div>
    </div>

</div>

