@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
*@
@{
    Layout = "_Layout2.cshtml";
}

<h3>Overview</h3>

<p>
    Chhattisgarh Rajya Gramin Bank (CRGB), a Regional Rural Bank (RRB) established in the year 2013 under an act of Parliament by amalgamating Chhattisgarh Gramin Bank(CGB),Surguja Kshetriya Gramin Bank(SKGB) and  Durg Rajnandgaon Gramin Bank(DRGB)  with Head Office at Raipur, Chhattisgarh sponsored by State Bank of India is operating in whole Chhattisgarh.

 </p>
 <p>
     
    
    Share Holding Pattern for Chhattisgarh Rajya Gramin bank is a follows

     
    Central Government – 50%,
    State Government – 15%
    Sponsor Bank – 35%.

    </p>
 <div class="mission-and-vision">
     <div class="row">
         <div class="col-sm-6">
             <h4 class="pt-3">Our Vision</h4>
             <p>Consolidation and Growth</p>

             <h4>Our Mission</h4>
             <p>
                 Strengthening Rural Economy through excellent Banking Service with total satisfaction of  Banks Customers.
             </p>
         </div>

         <div class="col-sm-6">
             <img src="~/img/mission-and-vision.png" alt="mission-and-vision" class="img-fluid"/>
             
         </div>
     </div>
 </div>