@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout2.cshtml";
}

<h3 class="innerhd">
    Administration
</h3>



<div class="row" style="margin-top:10px;">
    <table class="table table-bordered table-striped">
        
        <tbody>
            <tr>

                <td colspan="2" style="text-align: center;">
                    <b>Shri I.K. Gohil</b>
                    <br /> Chairman
                    <br />Email : cms.ho@@cgbank.in
                </td>

            </tr>
            <tr style="text-align: center;">
                <td>
                    <b>Shri A.K. Behera</b>
                    <br /> General Manager (Operations -1)
                    <br />Email : gm.ho.ops1@@cgbank.in
                    <br />0771-4388812
                </td>
                <td>
                    <b>Shri A.K. Nirala</b>
                    <br /> General Manager (Operations -2)
                    <br />Email : gm.ho.ops2@@cgbank.in
                    <br />0771-4388813
                </td>
            </tr>

            <tr style="text-align: center;">
                <td>
                    <b>Shri Gurdeep Singh</b>
                    <br /> General Manager (Vigilance)
                    <br />Email : vig.ho@@cgbank.in
                    <br />0771-4388808
                </td>
                <td>
                    <b>Shri Vijay K Agrawal</b>
                    <br /> General Manager (Administration &amp; IT/FI)
                    <br />Email : gm.ho.adm@cgbank.in
                    <br />0771-4388811

                </td>
            </tr>

            <tr style="text-align: center;">
                <td>
                    <b>Shri G.N. Murty</b>
                    <br /> Asst. General Manager (HR)
                    <br />Email : hr.ho@cgbank.in
                    <br />0771-4388807

                </td>
                <td>
                    <b>Shri S.C. Kashyap</b>
                    <br /> Asst. General Manager (Operations)
                    <br />Email : agm.ho.ops@cgbank.in
                    <br />0771-4388815
                </td>
            </tr>
            <tr style="text-align: center;">
                <td>
                    <b>Shri Rajesh Agarawal</b>
                    <br /> Chief Manager (General Banking)
                    <br />Email : gb.ho@cgbank.in
                    <br />0771-4388830

                </td>
                <td>
                    <b>Shri D.K. Dhruw</b>
                    <br /> Chief Manager (NPA Mgmt)
                    <br />Email : npa.ho@@cgbank.in
                    <br />0771-4388831
                </td>
            </tr>
            <tr style="text-align: center;">
                <td>
                    <b>Shri R.S. Bisen</b>
                    <br /> Chief Manager (Vigilance)
                    <br />Email : vig.ho@cgbank.in
                    <br />0771-4388808

                </td>
                <td>
                    <b>Shri MAS Philips</b>
                    <br /> Chief Manager (Planning)
                    <br />Email : planning.ho@cgbank.in
                    <br />0771-4388833
                </td>
            </tr>
            <tr style="text-align: center;">
                <td>
                    <b>Shri Anoop Tiwari</b>
                    <br /> Chief Manager (Accounts)
                    <br />Email : accounts.ho@cgbank.in
                    <br />0771-4388821
                </td>
                <td>
                    <b>Shri M.K. Chaturvedi</b>
                    <br /> Chief Manager (Audit)
                    <br />Email : audit.ho@cgbank.in
                    <br />0771-4388836

                </td>

            </tr>
            <tr style="text-align: center;">
                <td>
                    <b>Shri Subhash Naidu</b>
                    <br /> Senior Manager (FI)
                    <br />Email : fi.ho@cgbank.in
                    <br />0771-4388803
                </td>
                <td>
                    <b>Shri Shishir Shukla</b>
                    <br /> Senior Manager (IT)
                    <br />Email : it.ho@cgbank.in
                    <br />0771-4388816

                </td>

            </tr>
            <tr style="text-align: center;">
                <td>
                    <b>Shri Vipin Singh Chandel</b>
                    <br /> Senior Manager (Advances)
                    <br />Email : adv.ho@cgbank.in
                    <br />0771-4388825
                </td>
                <td>
                    <b>Shri P.G. Bedi</b>
                    <br /> Senior Manager (Cross Selling)
                    <br />Email : csd.ho@cgbank.in
                    <br />0771-4388809

                </td>

            </tr>
            <tr style="text-align: center;">
                <td>
                    <b>Shri S.K. Sharma</b>
                    <br /> Manager (CLPC)
                    <br />Email : clpc.ho@cgbank.in
                    <br />0771-4388827
                </td>
                <td>
                   
                </td>

            </tr>



        </tbody>

    </table>
</div>



