@using System.IO

@{
    ViewData["Title"] = "Branch Locations";
    string contents = "Sorry !! Page Under Construction";
    Layout = null;

}
<html>
<head>  
    <title></title>  
  



  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWTM_RLHWAv1msPR5d3YahTPzsO1_JmHU&callback=initMap&v=weekly"
      defer
    ></script>
    <script>  
        var mapcode;  
        var diag;  
        function initialize() {  
            mapcode = new google.maps.Geocoder();  
            var lnt = new google.maps.LatLng(26.45, 82.85);  
            var diagChoice = {  
                zoom: 9,  
                center: lnt,  
                diagId: google.maps.MapTypeId.ROADMAP  
            }  
            diag = new google.maps.Map(document.getElementById('map'), diagChoice);  
        }  
        function getmap() {  
            var completeaddress = document.getElementById('txt_location').value;  
            mapcode.geocode({ 'address': completeaddress }, function (results, status) {  
                if (status == google.maps.GeocoderStatus.OK) {  
                    diag.setCenter(results[0].geometry.location);  
                    var hint = new google.maps.Marker({  
                        diag: diag,  
                        position: results[0].geometry.location  
                    });  
                } else {  
                    alert('Location Not Tracked. ' + status);  
                }  
            });  
        }  
        google.maps.event.addDomListener(window, 'load', initialize);  
    </script>  
  
</head>
<body>
    <div id="map"></div>

   
     
  </body>
</html>